trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  ACR_LOGIN_SERVER: flagsregistry.azurecr.io
  IMAGE_NAME: user-api
  CONTAINER_APP_NAME: user-api
  RESOURCE_GROUP: flags

stages:
- stage: BuildAndPush
  displayName: Build & Push
  jobs:
  - job: Build
    steps:
    - checkout: self

    - task: Docker@2
      displayName: Build & Push image
      inputs:
        command: buildAndPush
        containerRegistry: 'flagsregistry-acr'   # <- NOME da sua Docker Registry service connection
        repository: $(IMAGE_NAME)
        Dockerfile: 'Api/Dockerfile'            # <- ajuste se seu Dockerfile estiver em outro lugar
        buildContext: '.'                       # <- raiz do repo (precisa conter Api/ Infra/ App/ Domain/)
        tags: |
          $(Build.BuildId)
          latest

- stage: Deploy
  displayName: Deploy to Container Apps
  dependsOn: BuildAndPush
  condition: succeeded()
  jobs:
  - job: Deploy
    steps:
    - task: AzureCLI@2
      displayName: Update Container App image
      inputs:
        azureSubscription: 'flags-azure-rm'     # <- NOME da sua Azure Resource Manager service connection
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az containerapp update \
            --name $(CONTAINER_APP_NAME) \
            --resource-group $(RESOURCE_GROUP) \
            --image $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(Build.BuildId)
