version: "3.9"

networks:
  flagNetwork:
    driver: bridge

volumes:
  redpanda-data:

services:
  api1:
    build:
      context: .
      dockerfile: Api/Dockerfile
    container_name: api1
    ports:
      - "3001:3001"
    environment:
      - DOTNET_URLS=http://+:5268
      # Ajuste conforme sua config .NET:
      - Kafka__BootstrapServers=redpanda:9092
    depends_on:
      - redpanda
    networks:
      - flagNetwork

#  api2:
#    build:
#      context: .
#      dockerfile: Api/Dockerfile
#    container_name: api2
#    ports:
#      - "3002:3002"
#    environment:
#      - DOTNET_URLS=http://+:5268
#      # - Kafka__BootstrapServers=redpanda:9092
#    depends_on:
#      - redpanda
#    networks:
#      - flagNetwork

  redpanda:
    image: redpandadata/redpanda:latest
    command:
      - redpanda start
      - --overprovisioned
      - --smp=1
      - --memory=512M
      - --reserve-memory=0M
      - --kafka-addr=PLAINTEXT://0.0.0.0:9092,OUTSIDE://0.0.0.0:19092
      - --advertise-kafka-addr=PLAINTEXT://redpanda:9092,OUTSIDE://127.0.0.1:19092
      - --pandaproxy-addr=0.0.0.0:8082
      - --advertise-pandaproxy-addr=127.0.0.1:8082
    ports:
      - "19092:19092"   # listener externo para host
      - "9092:9092"     # opcional; útil p/ testar rpk do host
      - "8082:8082"     # pandaproxy (opcional)
    networks:
      - flagNetwork
    volumes:
      - redpanda-data:/var/lib/redpanda/data
    healthcheck:
      test: ["CMD-SHELL", "rpk cluster info --brokers=localhost:9092 >/dev/null 2>&1 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 20
      
    # Serviço de setup: liga auto-create e pré-cria o tópico
  redpanda-setup:
    image: redpandadata/redpanda:latest
    depends_on:
      redpanda:
        condition: service_healthy
    entrypoint: [ "/bin/sh","-lc" ]
    command: >
      rpk cluster config set auto_create_topics_enabled true --api-urls redpanda:9644
      && rpk topic create user-events -p 6 -r 1 --brokers redpanda:9092
    networks:
      - flagNetwork


  redpanda-console:
    image: redpandadata/console:latest
    environment:
      - KAFKA_BROKERS=redpanda:9092
      # Se usar schema registry, habilite e aponte:
      # - SCHEMAREGISTRY_ENABLED=true
      # - SCHEMAREGISTRY_URL=http://redpanda:8081
    ports:
      - "8080:8080"
    depends_on:
      redpanda:
        condition: service_healthy
    networks:
      - flagNetwork
